*{
  margin: 0;
  padding: 0;

}

body{
  height: 100vh;
  background-color: rgb(45, 41, 72);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
button{
  height: 30px;
  width: 90px;
  background-color: rgb(128, 128, 210);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:medium;
}

p{
  font-size:larger;
  color: #b266c1;
}
